In [9]:
# Dependencies

# Pandas
import os
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
from config import Password
ngine = create_engine('postgresql://localhost:5432/employees_db.sql')
connection = engine.connect()

# MatPlotLib/NumPy/SciPy
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

ImportError: cannot import name 'Password'

In [10]:
employees_data = pd.read_sql("SELECT * FROM Employees", connection)
salary_data = pd.read_sql("SELECT * FROM Salaries", connection)
title_data = pd.read_sql("SELECT * FROM Titles", connection)

NameError: name 'connection' is not defined